name: deploy

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest
    env:
      WORKDIR: 'app'
      IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/app
      IMAGE_TAG: ${{ github.sha }}
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: set up jdk 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
      - name: test and package application
        run: mvn clean package
      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3
      - name: log into docker hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: build image
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
      - name: trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
          format: table
          exit-code: 1
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'
      - name: push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
      - name: copy compose file to ec2
        uses: appleboy/scp-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: 'docker-compose.yaml'
          target: ${{ env.WORKDIR }}
      - name: deploy on ec2 using ssh
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ${{ env.WORKDIR }}
            echo "IMAGE=${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}" > .env
            docker compose up -d --remove-orphans
